/*
    --article-title: 36px;
    --article-subtitle: 28px;
    --article-subtitle-sm: 24px;
*/

.article {
  max-width: 900px;
}

.article__poster {
  max-width: 100%;
}

.article__heading {
  margin: 40px 0 20px;
}

.article__title {
  font-size: var(--article-title);
  
}

.article__subtitle {
  font-size: var(--article-subtitle);
  color: var(--theme-text-color);
}

.article__subtitle_sub {
  font-size: var(--article-subtitle-sm);
}

.article__paragraph {
  @apply text-lg text-slate-200;
  line-height: 1.4;
}

