<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
</head>
<body class="page">
  <%= require('html-loader!./inner-metrika.html').default %>
  <div class="bg"></div>
  <header class="hero">
    <div class="hero__content">
      <h1 class="hero__title">KUPCOV</h1>
    </div>
  </header>
  <main class="blogpage">
    <article class="blogpage__content">
      <%= require(`html-loader!./articles/${articleId}/${articleId}.html`).default %>
    </article>
    <div class="blogpage__market">
      
    </div>
  </main>

  <!--FOOTER
  html-loader!./insets/asides/inner-footer.html').default-->
</body>
</html>
