<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
</head>
<body class="page">
  <div class="bg"></div>
  <header class="hero">
    <div class="hero__content">
      <h1 class="hero__title">KUPCOV</h1>
    </div>
  </header>
  <main>
    
  </main>

  <!--FOOTER
  html-loader!./insets/asides/inner-footer.html').default-->
</body>
</html>
