<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
  <meta name="verify-admitad" content="e50e22898b" />
</head>
<body class="page">
  <%= require('html-loader!./inner-metrika.html').default %>
  <div class="bg"></div>
  <header class="hero">
    <div class="hero__content">
      <h1 class="hero__title">KUPCOV</h1>
    </div>
  </header>
  <main>
    <a href="/blog/chto-takoe-martekh-i-ego-rol-v-marketinge.html">Что такое Мартех?</a>
    <a href="/blog/top-5-trendy-martekh.html">Тенденции Martech</a>
  </main>

  <!--FOOTER
  html-loader!./insets/asides/inner-footer.html').default-->
</body>
</html>
